Angular_MVC/Service References/TaskServiceReference/TaskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskList_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskList_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDataContract" nillable="true" type="tns:TaskDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDataContract" nillable="true" type="tns:ArrayOfTaskDataContract" />
  <xs:complexType name="TaskDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDataContract" nillable="true" type="tns:TaskDataContract" />
</xs:schema>