Angular_MVC/Service References/TaskServiceReference/TaskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52073/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaskList_Service" />
  <xs:element name="GetAllTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TaskList_Service" minOccurs="0" name="GetAllTaskResult" nillable="true" type="q1:ArrayOfTaskDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TaskList_Service" minOccurs="0" name="GetTaskDetailsResult" nillable="true" type="q2:TaskDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TaskList_Service" minOccurs="0" name="task" nillable="true" type="q3:TaskDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TaskList_Service" minOccurs="0" name="contact" nillable="true" type="q4:TaskDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>